extends layout

block header
 
block main
  div.dilute-background
    header.contact-view
      h2 Contacts
      nav.secondary-nav
        a.unanchor.rebutton.center(href="/user/contacts/create-contact") Create Contact
    if contacts.length > 0
      div.contact-view
        each contactData in contacts
          -contactVehicle.mount(contactData)
          -let contact = contactVehicle
          div.contact-view-elm.alternate
            -let hrefAddress = `/user/contacts/${contact.getId()}`
              a.unanchor(href=hrefAddress)
                div.block1
                  h3 Name
                  p #{contactVehicle.getName()}
                div.block2  
                  h3 Contact Information
                  dl.side-by-side
                    dt Preferred medium:
                    dd #{contactVehicle.getPreferredMediumPretty()}
                  dl.side-by-side
                    dt Phone number:
                    dd #{contactVehicle.getPhoneNumberPretty()}
                  dl.side-by-side
                    dt Email:
                    dd #{contactVehicle.getEmailPretty()}
                div.block3
                  h3 Address
                  p #{contactVehicle.getAddressPretty()} 
                div.block4 
                  h3 Objectives
                  p #{contactVehicle.objectivesCount}
        div
          //- Need n and end
          nav.pagination
            span.prev
              a(rel="prev" href=`/user/contacts?page=${0}`) Start
            each n in navVector
              if n === page
                span.page.center.selected #{n}
              else
                span.page.center
                  a.page(href=`/user/contacts?page=${n}`) #{n}
            span.next
              a(rel="next" href=`/user/contacts?page=${endPage}`) End
            
