extends layout

block header
  
  h2 Contacts
  nav.flex-right
    a.unanchor.rebutton(href="/user/contacts/create-contact" data-test-id="create-contact") Create Contact
  
block main
  if contacts.length > 0
    each contact in contacts
      div.bordered-tb.solid-hover
        -let hrefAddress = `/user/contacts/${contact.getId()}`
        -const objective = contact.getObjective()
          a.unanchor(href=hrefAddress data-test-id="contact")
            p(data-test-id="name") #[strong Name:] #{contact.getName()}
            p(data-test-id="preferred-medium") #[strong Preferred Medium:&nbsp;&nbsp;] #{contact.getPreferredMediumPretty()}
            if(objective)
              p(data-test-id="communication-objective") #[strong Communication Objective:&nbsp;&nbsp;] #{objective.getPeriod()}
            else
              p(data-test-id="communication-objective") #[strong Communication Objective:&nbsp;&nbsp;] none
    p.space-v2
    div.flex-center
      nav.pagination
        span.end
          a.unanchor(rel="prev" href=`/user/contacts?page=${1}` data-test-id="start") Start
        each n in navVector
          if n === page
            span.page.active(data-test-id="page") #{n}
          else
            span.page
              a.unanchor(href=`/user/contacts?page=${n}` data-test-id="page") #{n}
        span.end
          a.unanchor(rel="next" href=`/user/contacts?page=${endPage}` data-test-id="end") End
  else 
    h3(data-test-id="contact") You currently have no contacts
