extends layout

block header
 
block main
  div.dilute-background
    header.contact-list
      h2 Contacts
      nav.secondary-nav
        a.unanchor.rebutton.center(href="/user/contacts/create-contact") Create Contact
    if contacts.length > 0
      div.contact-list
        each contact in contacts
          div.contact-list-elm.alternate
            -let hrefAddress = '/user/contacts/' + contact.id
              a.unanchor(href=hrefAddress)
                div.block1
                  h3 Name
                  p #{`${contact.first_name = contact.first_name || ''} ${contact.last_name = contact.last_name || ''}`}
                div.block2  
                  h3 Contact Information
                  dl.side-by-side
                    dt Preffered medium:
                    dd #{contact.preferred_medium ? contact.preferred_medium  : 'none'}
                  dl.side-by-side
                    dt Phone number:
                    dd #{contact.phone_number ? contact.phone_number : 'none'}
                  dl.side-by-side
                    dt Email:
                    dd #{contact.email ? contact.email : 'none'}
                div.block3
                  h3 Address
                  if (contact.street_address_1)
                    p #{contact.street_address_1}
                    if (contact.street_address_2)
                      p #{contact.street_address_2}
                    p #{`${contact.city}, ${contact.state_code} ${contact.zip_code}`}
                    p #{contact.country}
                  else
                    dd #{'none'} 
                div.block4 
                  h3 Objectives
                  p #{`${(contact.objectives.length) ? contact.objectives.length : 'Empty'}`}