extends layout

block header
  h2 Contacts
  nav.flex-right
    a.unanchor.rebutton(href="/user/contacts/create-contact") Create Contact
 
block main
  if contacts.length > 0
    each contactData in contacts
      -contactVehicle.mount(contactData)
      -let contact = contactVehicle
      div.alternate.hover
        -let hrefAddress = `/user/contacts/${contact.getId()}`
          a.unanchor(href=hrefAddress)
            p #[strong Name:] #{contactVehicle.getName()}
            p #[strong Preferred Medium:] #{contactVehicle.getPreferredMediumPretty()}
            p #[strong Objectives:] #{contactVehicle.objectivesCount}
    br
    br
    div.flex-center
      nav.pagination
        span.end
          a.unanchor(rel="prev" href=`/user/contacts?page=${0}`) Start
        each n in navVector
          if n === page
            span.page.active #{n}
          else
            span.page
              a.unanchor(href=`/user/contacts?page=${n}`) #{n}
        span.end
          a.unanchor(rel="next" href=`/user/contacts?page=${endPage}`) End
          
