extends layout

block header
 
block main
  div.dilute-background
    header.contact-list
      h2 Contacts
      nav.secondary-nav
        a.unanchor.rebutton.center(href="/user/contacts/create-contact") Create Contact
    if contacts.length > 0
      div.contact-list
        each contact in contacts
          -contactVehicle.mount(contact)
          div.contact-list-elm.alternate
            -let hrefAddress = '/user/contacts/' + contact.id
              a.unanchor(href=hrefAddress)
                div.block1
                  h3 Name
                  p #{contactVehicle.getName()}
                div.block2  
                  h3 Contact Information
                  dl.side-by-side
                    dt Preferred medium:
                    dd #{contactVehicle.getPreferredMedium()}
                  dl.side-by-side
                    dt Phone number:
                    dd #{contactVehicle.getPhoneNumber()}
                  dl.side-by-side
                    dt Email:
                    dd #{contactVehicle.getEmail()}
                div.block3
                  h3 Address
                  p #{contactVehicle.getAddress()} 
                div.block4 
                  h3 Objectives
                  p #{contactVehicle.countObjectives()}