extends ../layout

block header
 
block main
  div.dilute-background
    header.contact-view
      h2 #{`Contact information for ${contact.getName()}`}
      nav.secondary-nav
        a.unanchor.rebutton.center(href=`/user/contacts/${contact.id}/edit`) Edit Contact
        form.delete(action=`/user/contacts/${contact.id}/delete` method="post")
          input.unbutton.rebutton(type="submit" value="DELETE CONTACT")
    div.contact-view
      div.contact-main
        div.horizontal
          div.block-left
            div
              h3 Name
              p #{contact.getName()}
            div
              h3 Contact Information
              dl.side-by-side.center-justified.narrow-400
                dt Preferred medium:
                dd #{contact.getPreferredMedium()}
              dl.side-by-side.center-justified.narrow-400
                dt Phone number:
                dd #{contact.getPhoneNumber()}
              dl.side-by-side.center-justified.narrow-400
                dt Email:
                dd #{contact.getEmail()}
            div
              h3 Address
              p #{contact.getAddress()}
          div.block-right
            div
              h3.center.mb-2 Objectives
              div.objectives-header
                h4 Occasion
                h4 Date 
                h4 Periodicity
                h4 Reminder
              if contact.objectives.length > 0
                each objective in contact.objectives
                  div.alternate.objectives-elm
                    a.unanchor(href=`/user/contacts/${contact.id}/objectives/${objective.id}` )
                      p #{`${objective.occasion}`}
                      p #{`${objective.getOccasionDate()}`}
                      p #{`${objective.periodicity}`}
                      p #{`${objective.reminder}`}   
                nav.pagination
                  span.prev
                    a(rel="prev" href=`/user/contacts/${contact.id}?page=${0}`) Start
                  each n in navVector
                    if n === page
                      span.page.center.selected #{n}
                    else
                      span.page.center
                        a.page(href=`/user/contacts/${contact.id}?page=${n}`) #{n}
                  span.next
                    a(rel="next" href=`/user/contacts/${contact.id}?page=${endPage}`) End
              else 
                div.center.p-1
                  h2.center.alert This contact currently has no objectives
              div.center.p-1
                a.unanchor.rebutton.center(href=`/user/contacts/${contact.id}/objectives/create-objective`) Create an objective
            h3.center Notes
            textarea(wrap="soft" name="notes" readonly placeholder = `${contact.getPlaceholderNotes()}`) #{contact.notes}