extends ../layout

block header
  h2 #{`Contact information for ${contact.getName()}`}
  nav.flex-right
    a.unanchor.rebutton(href=`/user/contacts/${contact.getId()}/edit` data-test-id="edit") Edit Contact
    form.delete(action=`/user/contacts/${contact.getId()}/delete` method="post")
      input.unbutton.rebutton(type="submit" value="DELETE CONTACT")
 
block main  
  div.contact.flex-column-center
    h2 Name 
    p(data-test-id="name") #{contact.getName()}
    br
    h2 Contact Information
    br
    div
      p(data-test-id="preferred-medium") #[strong Preferred medium:&nbsp;&nbsp;]#{contact.getPreferredMediumPretty()}
      p(data-test-id="phone-number") #[strong Phone:&nbsp;&nbsp;]#{contact.getPhoneNumberPretty()}
      p(data-test-id="email") #[strong Email:&nbsp;&nbsp;]#{contact.getEmailPretty()}
    br
    h2 Address: 
    br
    p(data-test-id="address") #{contact.getAddressPretty()}
    br
    h2 Communication Objective
    br
    div
      if contact.getObjective()
        -let objective = contact.getObjective()
        div.bordered-tb.solid-hover
          a.unanchor(href=`/user/contacts/${contact.getId()}/objectives/periodic/${objective.getId()}` data-test-id="objective")
            p(data-test-id="objective-period") #[strong Period:&nbsp;&nbsp;] #{`${objective.getPeriod()}`}
            p(data-test-id="objective-next-contact-date") #[strong Date of next contact:&nbsp;&nbsp;] #{`${objective.getNextContactDate()}`}
            p(data-test-id="objective-last-contact-date") #[strong Date of last contact:&nbsp;&nbsp;] #{`${objective.getLastContactDatePretty()}`}   
      else 
        p(data-test-id="objective") No periodic Objective
        br
        div
          a.unanchor.rebutton(href=`/user/contacts/${contact.getId()}/objectives/periodic/create-objective` data-test-id="create-objective") Create an objective
    br
    h2 Contact Notes
    br
    div
      textarea(wrap="soft" name="notes" id="notes" disabled) #{contact.getNotes()}