extends ../layout

block header
 
block main
  div.dilute-background
    header.contact-list
    -console.log(contact)
      h2 #{`Contact information for ${contact.getName()}`}
      nav.secondary-nav
        a.unanchor.rebutton.center(href=`/user/contacts/${contact.id}/edit`) Edit Contact
        form.delete(action=`/user/contacts/${contact.id}/delete` method="post")
          input.unbutton.rebutton(type="submit" value="DELETE CONTACT")
    div.contact-list
      div.contact
        div.horizontal
          div.block-left
            div
              h3 Name
              p #{contact.getName()}
            div
              h3 Contact Information
              dl.side-by-side
                dt Preferred medium:
                dd #{contact.getPreferredMedium()}
              dl.side-by-side
                dt Phone number:
                dd #{contact.getPhoneNumber()}
              dl.side-by-side
                dt Email:
                dd #{contact.getEmail()}
            div
              h3 Address
              p #{contact.getAddress()}
          div.block-right
            h3.center.mb-2 Objectives
            div.objectives-header
              h4 Occasion
              h4 Date 
              h4 Periodicity
              h4 Reminder
            if contact.objectives.length > 0
              each objective in contact.objectives
                div.alternate.objectives-elm
                  a.unanchor(href="/user/contacts/:contact_id/objectives/:objective_id")
                    p #{`${objective.occasion}`}
                    p #{`${objective.getOccasionDate()}`}
                    p #{`${objective.periodicity}`}
                    p #{`${objective.reminder}`}   
            else 
              p.mb-2
              h1.center This contact currently has no objectives
            h3.center Notes
            textarea(wrap="soft" name="notes" readonly placeholder = contact.getPlaceholderNotes()) #{contact.notes}  