extends ../layout

block header

block main
  div.dilute-background
    h2 Edit Contact
    if contactData.length > 0
      -contact = contactData[0]
      form(action=`/user/contacts/edit/${contact.id}` method="post")
        dl.contact-list
          div.contact-list-elm 
            div.left
              -console.log(contact)
              dl.side-by-side.mb-a-half
                dt Name: 
                dd #{`${contact.first_name}${(contact.last_name) ? ' ' + contact.last_name : ''}`}
              dl.side-by-side.mb-a-half
                dt Periodicity: 
                dd #{(contact.perodicity)?contact.periodicy:'none'}
              dl.side-by-side.mb-a-half
                dt Birthday:
                if contact.birthday
                  if contact.birthday.getFullYear()===1800
                    dd #{contact.birthday.toLocaleDateString('en-us', {month:"short", day:"numeric"})}
                  else
                    dd #{contact.birthday.toLocaleDateString('en-us')}
                else 
                  dd #{''}
              dl.side-by-side.mb-a-half
                dt Preffered method of contact:
                dd #{(contact.preferred_medium) ? contact.preferred_medium  : ''}
              dl.side-by-side.mb-a-half
                dt Phone number:
                dd #{(contact.phone_number) ? contact.phone_number : ''}
              dl.side-by-side.mb-a-half
                dt Address:
                if contact.street_address_1
                  dd 
                    p #{contact.street_address_1}
                    if (contact.street_address_2)
                      p #{contact.street_address_2}
                    p #{`${contact.city}, ${contact.state_code} ${contact.zip_code}`}
                    if (contact.country)
                      p #{contact.country}
                else
                  dd #{''}
            div.right   
              h3 Notes:
              p #{contact.notes}