extends ../../../layout

block header
  -let objective = contact.getObjective()
  h2(data-test-id="page-title") #{`Create objective for ${contact.getName()}`}
  nav.flex-right
    a.unanchor.rebutton(href=`/user/contacts/${contact.getId()}` data-test-id="contact") #{contact.getName()}
        
block main
  form(action=`/user/contacts/${contact.getId()}/objectives/periodic/create-objective` method="post")
    div.objective.flex-column-center
      div.flex-justified
        div #[label(for="periodicity") #[strong Period:]]
        div.required
          select(name="periodicity"  id="periodicity")
            -let periods = objective.getPeriods();
              option(selected = !periods.includes(objective.getPeriod()) disabled) Please choose one
              each period in periods
                option(selected = period === objective.getPeriod() value = period) #{period}
      br
      div.flex-justified
        span #[strong Next connection date:&nbsp;&nbsp;] 
        span #{objective.getNextContactDate()}
      br
      div.flex-justified 
        span #[strong Last connection date:&nbsp;&nbsp;] 
        span #{objective.getLastContactDatePretty()}
      br
      h3.flex-center Notes
      br
      textarea(wrap="soft" name="notes" placeholder = objective.getPlaceholderNotes()) #{objective.getNotes()}
      br
      input.unbutton.rebutton(type="submit" value="Create Objective")