extends ../../layout

block header
  -let objective = contact.objectives[0]
  h2 #{`${objective.getOccasion()} objective for ${contact.getName()}`}
  nav.flex-right
    a.unanchor.rebutton(href=`/user/contacts/${contact.getId()}`) #{contact.getName()}
    a.unanchor.rebutton(href=`/user/contacts/${contact.getId()}/objectives/${objective.getId()}/edit`) Edit Objective
    form.delete(action=`/user/contacts/${contact.getId()}/objectives/${objective.getId()}/delete` method="post")
      input.unbutton.rebutton(type="submit" value="DELETE OBJECTIVE")
block main
  div.contact.flex-column-center
    br
    div
      dl.side-by-side
        dt Occasion:
        dd #{`${objective.getOccasion()}`}
      dl.side-by-side
        dt Occasion date:
        dd #{`${objective.getOccasionDate()}`}
      dl.side-by-side
        dt Periodicity:
        dd #{`${objective.getPeriodicity()}`}
      dl.side-by-side
        dt Reminder:
        dd #{`${objective.getReminder()}`}
    br                
    h4 Notes
    br
    textarea(wrap="soft" name="notes" disabled placeholder = objective.getPlaceholderNotes()) #{objective.getNotes()}